{
    "sfdcurl": <<base url>>
    "username": <<username>>
    "password": <<password & token >>    
    "clientid": <<consumer id>>
    "clientsecret": <<consumer secret>>
    "includelist": [
	"Account",
	"Campaign",
	"Contact",
	"Lead",
	"CampaignMember",
	"Opportunity"
    ],
    "loglevel": "Debug",
    "mapping": {
	"Case": [
	    "ContactId",
	    "AccountId"
	],
	"Contact": [
	    "AccountId"
	],
	"Opportunity": [
	    "AccountId"
	],
	"CampaignMember": [
	    "ContactId",
	    "CampaignId",
	    "LeadId"
	]
    }
}
